.dropzone
  = form_with(model: item, local: true) do |form|
    - if item.errors.any?
      #error_explanation
        h2 = "#{pluralize(item.errors.count, "error")} prohibited this item from being saved:"

        ul
          - item.errors.full_messages.each do |message|
            li = message

    .field
      = form.label :parent_id
      = form.number_field :parent_id

    .field
      = form.label :code
      = form.text_field :code

    .field
      = form.label :name
      = form.text_field :name

    .field
      = form.label :data
      = form.text_area :data

    .field
      = form.label :images
      = form.file_field :images, multiple: true

    .actions
      = form.submit
